<h1>My Bookstore</h1>

    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary">A</button>
            <input type="hidden" id="letter" name="letter" value="A">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary">B</button>
            <input type="hidden" id="letter" name="letter" value="B">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary">C</button>
            <input type="hidden" id="letter" name="letter" value="C">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary">D</button>
            <input type="hidden" id="letter" name="letter" value="D">
</form>
    </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary">E</button>
            <input type="hidden" id="letter" name="letter" value="E">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">F</button>
            <input type="hidden" id="letter" name="letter" value="F">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">G</button>
            <input type="hidden" id="letter" name="letter" value="G">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">H</button>
            <input type="hidden" id="letter" name="letter" value="H">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">I</button>
            <input type="hidden" id="letter" name="letter" value="I">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">J</button>
            <input type="hidden" id="letter" name="letter" value="J">
</form>
        </div>
    </div>
    </div>
    <br>

    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">K</button>
            <input type="hidden" id="letter" name="letter" value="K">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">L</button>
            <input type="hidden" id="letter" name="letter" value="L">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">M</button>
            <input type="hidden" id="letter" name="letter" value="M">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">N</button>
            <input type="hidden" id="letter" name="letter" value="N">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">O</button>
            <input type="hidden" id="letter" name="letter" value="O">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">P</button>
            <input type="hidden" id="letter" name="letter" value="P">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">Q</button>
            <input type="hidden" id="letter" name="letter" value="Q">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">R</button>
            <input type="hidden" id="letter" name="letter" value="R">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">S</button>
            <input type="hidden" id="letter" name="letter" value="S">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">T</button>
            <input type="hidden" id="letter" name="letter" value="T">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">U</button>
            <input type="hidden" id="letter" name="letter" value="U">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">V</button>
            <input type="hidden" id="letter" name="letter" value="V">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">W</button>
            <input type="hidden" id="letter" name="letter" value="W">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">X</button>
            <input type="hidden" id="letter" name="letter" value="X">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">Y</button>
            <input type="hidden" id="letter" name="letter" value="Y">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary">Z</button>
            <input type="hidden" id="letter" name="letter" value="Z">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">0</button>
            <input type="hidden" id="letter" name="letter" value="0">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">1</button>
            <input type="hidden" id="letter" name="letter" value="1">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">2</button>
            <input type="hidden" id="letter" name="letter" value="2">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">3</button>
            <input type="hidden" id="letter" name="letter" value="3">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">4</button>
            <input type="hidden" id="letter" name="letter" value="4">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">5</button>
            <input type="hidden" id="letter" name="letter" value="5">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">6</button>
            <input type="hidden" id="letter" name="letter" value="6">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">7</button>
            <input type="hidden" id="letter" name="letter" value="7">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">8</button>
            <input type="hidden" id="letter" name="letter" value="8">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary">9</button>
            <input type="hidden" id="letter" name="letter" value="9">
</form>
        </div>
    </div>
</div>
