
<form method="GET" action="/search">

    <div>
        <label for="q">Search String</label>
    </div>
    <input type="text" name="q" id="q" placeholder="Enter the App name" size="40" required>
    <button type="submit">Search</button>

</form>

<h1>My Bookstore</h1>

    <div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="GET" action="/byletter">
                    <button type="submit" class="btn btn-primary">A</button>
                    <input type="hidden" id="A" name="A" value="A">
            </form>


            
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">B</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">C</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">D</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">E</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-primary">F</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">G</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">H</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">I</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">J</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-primary">K</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">L</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">M</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">N</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">O</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-primary">P</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">Q</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">R</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">S</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">T</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-primary">U</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">V</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">W</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">X</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-primary">Y</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-primary">Z</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">0</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">1</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">2</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">3</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">4</button>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">5</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">6</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">7</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">8</button>
        </div>
        <div class="col-sm">
        <button type="button" class="btn btn-secondary">9</button>
        </div>
    </div>
</div>

