<h1>My Bookstore</h1>

    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary btn-lg btn-block">A</button>
            <input type="hidden" id="letter" name="letter" value="A">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary btn-lg btn-block">B</button>
            <input type="hidden" id="letter" name="letter" value="B">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary btn-lg btn-block">C</button>
            <input type="hidden" id="letter" name="letter" value="C">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary btn-lg btn-block">D</button>
            <input type="hidden" id="letter" name="letter" value="D">
</form>
    </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
            <button type="submit" class="btn btn-primary btn-lg btn-block">E</button>
            <input type="hidden" id="letter" name="letter" value="E">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">F</button>
            <input type="hidden" id="letter" name="letter" value="F">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">G</button>
            <input type="hidden" id="letter" name="letter" value="G">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">H</button>
            <input type="hidden" id="letter" name="letter" value="H">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">I</button>
            <input type="hidden" id="letter" name="letter" value="I">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">J</button>
            <input type="hidden" id="letter" name="letter" value="J">
</form>
        </div>
    </div>
    </div>
    <br>

    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">K</button>
            <input type="hidden" id="letter" name="letter" value="K">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">L</button>
            <input type="hidden" id="letter" name="letter" value="L">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">M</button>
            <input type="hidden" id="letter" name="letter" value="M">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">N</button>
            <input type="hidden" id="letter" name="letter" value="N">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">O</button>
            <input type="hidden" id="letter" name="letter" value="O">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">P</button>
            <input type="hidden" id="letter" name="letter" value="P">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Q</button>
            <input type="hidden" id="letter" name="letter" value="Q">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">R</button>
            <input type="hidden" id="letter" name="letter" value="R">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">S</button>
            <input type="hidden" id="letter" name="letter" value="S">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">T</button>
            <input type="hidden" id="letter" name="letter" value="T">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">U</button>
            <input type="hidden" id="letter" name="letter" value="U">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">V</button>
            <input type="hidden" id="letter" name="letter" value="V">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">W</button>
            <input type="hidden" id="letter" name="letter" value="W">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">X</button>
            <input type="hidden" id="letter" name="letter" value="X">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Y</button>
            <input type="hidden" id="letter" name="letter" value="Y">
</form>
        </div>
    </div>
    </div>
    <br>

    <div class="container">
    <div class="row">
        <div class="col-sm">
                <form method="GET" action="/byletter">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Z</button>
                        <input type="hidden" id="letter" name="letter" value="Z">
                </form>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
    </div>
    </div>

    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">0</button>
            <input type="hidden" id="letter" name="letter" value="0">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">1</button>
            <input type="hidden" id="letter" name="letter" value="1">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">2</button>
            <input type="hidden" id="letter" name="letter" value="2">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">3</button>
            <input type="hidden" id="letter" name="letter" value="3">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">4</button>
            <input type="hidden" id="letter" name="letter" value="4">
</form>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">5</button>
            <input type="hidden" id="letter" name="letter" value="5">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">6</button>
            <input type="hidden" id="letter" name="letter" value="6">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">7</button>
            <input type="hidden" id="letter" name="letter" value="7">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">8</button>
            <input type="hidden" id="letter" name="letter" value="8">
</form>
        </div>
        <div class="col-sm">
<form method="GET" action="/byletter">
        <button type="submit" class="btn btn-secondary btn-block">9</button>
            <input type="hidden" id="letter" name="letter" value="9">
</form>
        </div>
    </div>
</div>
